# BasedOnStyle: Google
Language:        Cpp
AccessModifierOffset: -4

BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    AfterExternBlock: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
BraceBreakingStyle: Attach #ERROR

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
